body{
    background: url('./bg1.jpg') no-repeat center center/cover;
   height: 40vw;
}

.navbar navbar-expand-lg navbar-light{
    width: 100%;
}

 .nav-item{
   padding: 0px 22px;
}

.btn{
    padding:0.2rem 0.6rem;
    margin: 2px 1px;
}
btn btn-outline-success me-2{
  color: white;
}


.container-sm{
    justify-content: center;
    align-items: center;
    margin: 110px auto;
}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    display: block;
}

 .para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.1rem;
    display: block;
}

.ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml1 .letters {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(95, 151, 255);
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }

  section{
      margin: 30px 0px;
  }

  section a{
      color: rgb(0, 0, 0);
      font-weight: bold;
      text-decoration: none;
      padding: 10px;
      margin: 2px 5px;
      border-radius: 5px;
      border: 1px solid black;
      background-color: rgb(126, 251, 255);
    }
    
    section a:hover{
        color: white;
        background-color: black;
    }
    
    section .btn{
      position: relative;
      left: 1.2rem;
    }

    .flex{
   
      display: grid;
       grid-gap: 1rem;
       grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      background-color: rgb(219, 255, 249);
      padding: 10px;
      justify-content: center;
      align-items: center;
    }

    .flex .colm {
     text-align: center;
     font-family: 'PT Serif', serif;
     font-weight:bold;
     background-color: rgb(255, 255, 255);
      padding: 20px;
     border-radius: 10px;
      margin: 20px;
      /* width: 80%; */
  }

  .container2{
    background-color:rgb(219, 255, 249); 
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }

 .container2 h2{
   margin: 10px;
   
  }

  .colm img{
    border-radius: 20px;
    width: 400px;
    height: 250px;
  }